{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>WWU | Spec Database</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'navbar-static-top.css' %}" rel="stylesheet">
    <link href="{% static 'dropdown.css' %}" rel="stylesheet">
    <link href="{% static 'footer.css' %}" rel="stylesheet">
    <style>
      #footer {
      position: fixed;
      overflow: hidden;
      bottom: 0;
      height : 65px;
      margin-top: 80px;
      background-color:black;
      color:white;
      clear:both;
      padding: 5px;
      text-align:center;
      width: 100%;
      }
    </style>
    <!-- <script src="/usr/home/aytone/marsproject/src/static_in_pro/our_static/js/sorttable.js"></script> -->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Spectroscopy Database</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/about">About</a></li> -->
            <!-- <li><a href="/contact">Contact</a></li> -->
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin">Admin Login</a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
    </nav>

    <div id="title">
      {% block title %}{% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
    <!--<footer> -->
      <p> Contact information: Melissa[dot]Rice[at]wwu[dot]edu.</p>
      <p> Developed by students from Western Washington University Computer Science Department. </p>
    </div>
    <!--</footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="tex/javascript">
      function gen_mail_to_link(lhs,rhs, subject) {
        document.write
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
