{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>WWU | Spec Database</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'navbar-static-top.css' %}" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Spectroscopy Database</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#search">Search</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="admin">Admin Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <!--- Website Content -->
    <div class="container">
      <div class="well">
        <h4>Mineral Search</h3>
        <div class="form-inline">
          <form action="/search/" method="get">
            <input type="text" class="form-control" id="searchBox" placeholder="Enter Mineral Name..." name="mineral", value="{{ query }}"/>
            <button type="submit" class="btn btn-primary"/>Search&raquo;</button>
          </form>
        </div>
      </div>

    </div> <!-- /container -->

    <!--- Website Content -->
    <div class="container">
      <div class="well">
        <h4>Mineral Search</h4>
        <div class="row">
          <form action="/search/" method="get">
            <div class="col-xs-16 col-md-8">
              <input type="text" class="form-control" id="searchBox" placeholder="Enter Mineral Name..." name="mineral", value="{{ query }}"/>
            </div>
            <div class="col-xs-">
              <button type="submit" class="btn btn-primary"/>Search&raquo;</button>
            </div>
          </form>
        </div>
			</div>
    </div> <!-- /container -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Enter Mineral Name..."/>
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="filter">Filter by</label>
                        <select class="form-control">
                          <option value="0" selected>All snippets</option>
                          <option value="1">Featured</option>
                          <option value="3">Most pupular</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="contain">Author</label>
                        <input class="form-control" type=text />
                      </div>
                      <div class="form-group">
                        <label for="contain">Contains the words</label>
                        <input class="form-control" type="text" />
                      </div>
                      <button type="submit" class="btn btn-primary"/>Search&raquo;</button>
                    </form>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary"/>Search&raquo;</button>
            </div>
          </div>
        </div>
      </div>
    </div><!--Container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
