{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="" style="background-size:cover">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">

        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
      <!-- Navbar -->
      <nav style:"background:rgba(0,0,0,0.7)">
        <div class="container white-text">
          <ul id="nav-mobile" class="left">
            <li class="left"><a href="/">Search</a></li>
            <li class="left"><a href="/about">About</a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-small-and-down">
            <li><a href="/upload">Upload</a></li>
              {% if user.is_authenticated %}
                <li><a href="/admin/login">Admin</a></li>
                <li><a href="/logout">Log Out</a>
              {% else %}
                <li><a href="/admin/login">Admin</a></li>
              {% endif %}
          </ul>
        </div>
      </nav>

    <div id="title">
      {% block title %}{% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="tex/javascript">
      function gen_mail_to_link(lhs,rhs, subject) {
        document.write
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92386607-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
