
{% extends "layouts/base.html" %}
{% block content %}
<body>
<p> The graph should be here </p>
{% if graphResults %}
  {% for gr in graphResults %}
    <td> {{gr.data_id}} </td> <br>
    <!-- Data right here! -->
    <!-- <td> {{gr.reflectance}}</td> -->
  {% endfor %}
<!-- load the d3.js library -->
	<div class="container">
  	<div class="jumbotron">
    	<svg id="visualisation" width="1000" height="500"></svg>
                
      	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> 
        <script>
        	function InitChart() {
            //Change JSON string to object
            var GRAPH = JSON.parse('{{graphJSON|safe}}'); 
           
            var color = d3.scale.category10();

            var vis = d3.select("#visualisation"),
                WIDTH = 1000,
                HEIGHT = 500,
                MARGINS = {
                    top: 50,
                    right: 20,
                    bottom: 50,
                    left: 50
                },
								lSpace = WIDTH/GRAPH.length;
                
             
            
            
            var minX = d3.min(d3.keys(GRAPH));
            var maxX = d3.max(d3.keys(GRAPH));
            var minY = d3.min(d3.values(GRAPH));
            var maxY = d3.max(d3.values(GRAPH));


            xScale = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([2,20]),
            yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([0,1.2]),
            xAxis = d3.svg.axis()
                .scale(xScale),
            yAxis = d3.svg.axis()
                .scale(yScale)
                .orient("left");

            vis.append("svg:g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
                .call(xAxis);
            vis.append("svg:g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + (MARGINS.left) + ",0)")
                .call(yAxis);

            var lineGen = d3.svg.line()
                .x(function(d) {
                    return xScale(d.key);
                })
                .y(function(d) {
                    return yScale(d.value);
                })
                .interpolate("linear");

            function keySort (sortfunc,field) {
              return function (a,b) {
                return sortfunc(parseFloat(a[field]),parseFloat(b[field]));
              }
            }

            GRAPH.forEach(function(d,i) {
                //Creates an array of objects with key-value pairs, sorted by keys
                var reflectanceKV = d3.entries(d.reflectance).sort(keySort(d3.ascending,"key"));

                //Append path to graph
                vis.append('svg:path')
                .attr('d', lineGen(reflectanceKV))   //d3.entries(d.reflectance).sort(keySort(d3.ascending,"key"))
                .attr('stroke', function(d,j) {
                        return "hsl(" + Math.random() * 360 + ",50%,50%)";
                })
                .attr('stroke-width', 2)
                .attr('id', 'line_'+d.data_id) 
                .attr('fill','none');

                // Line Disappearing nonsense
                vis.append("text")
                    .attr("x", (lSpace/2)+i*lSpace)
                    .attr("y", HEIGHT)
                    .style("fill", "black")
                    .attr("class","legend")
                    .on('click',function() {
                        var active   = d.active ? false : true;
                        var opacity = active ? 0 : 1;
                        d3.select("#line_" + d.data_id).style("opacity", opacity);
                        d.active = active;
                    })
                    .text(d.data_id);
            });

          }

          InitChart();

          </script>
      </div>
      <br>
      <br>
      <br>
      <br>
  </div>
{% endif %}
</body>
{% endblock %}
