
{% extends "layouts/base.html" %}
{% block content %}
<body>
<p> The graph should be here </p>
{% if graphResults %}
  {% for gr in graphResults %}
    <td> {{gr.data_id}} </td> <br>
    <!-- Data right here! -->
    <!-- <td> {{gr.reflectance}}</td> -->
  {% endfor %}
<!-- load the d3.js library -->
	<div class="container">
  	<div class="jumbotron">
    	<svg id="visualisation" width="1000" height="500"></svg>
                
      	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> 
        <script>
        	function InitChart() {
            var GRAPH = '{{graphJSON|safe}}';
            var GRAPH2 = "{{graph2|safe}}";
            console.log(GRAPH);
            console.log(JSON.stringify(GRAPH2));
            var data = [{
                "Client": "ABC",
                "sale": "20",
                "year": "10"
            }, {
                "Client": "ABC",
                "sale": "30",
                "year": "15"
            }, {
                "Client": "ABC",
                "sale": "40",
                "year": "20"
            }, {
                "Client": "XYZ",
                "sale": "50",
                "year": "25"
            }, {
                "Client": "XYZ",
                "sale": "60",
                "year": "30"
            }, {
                "Client": "XYZ",
                "sale": "70",
                "year": "35"
            }];

            var data2 = {
              "10":"20",
              "15":"26",
              "20":"45",
              "25":"40",
              "30":"32",
              "35":"70"
            }

            var dataGroup = d3.nest()
                .key(function(d) {return d.Client;})
                .entries(data);


            
						console.log(JSON.stringify(dataGroup));
            console.log(JSON.stringify(data2));
            var color = d3.scale.category10();

            var vis = d3.select("#visualisation"),
                WIDTH = 1000,
                HEIGHT = 500,
                MARGINS = {
                    top: 50,
                    right: 20,
                    bottom: 50,
                    left: 50
                },
								lSpace = WIDTH/dataGroup.length;

                var minX = d3.min(d3.keys(data2));
                var maxX = d3.max(d3.keys(data2));
                var minY = d3.min(d3.values(data2));
                var maxY = d3.max(d3.values(data2));


                xScale = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([minX,maxX]),
                yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([minY,maxY]),
                xAxis = d3.svg.axis()
                .scale(xScale),
                yAxis = d3.svg.axis()
                .scale(yScale)
                .orient("left");

            vis.append("svg:g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
                .call(xAxis);
            vis.append("svg:g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + (MARGINS.left) + ",0)")
                .call(yAxis);

            var lineGenTwo = d3.svg.line()
                .x(function(d) {
                    return xScale(d.key);
                })
                .y(function(d) {
                    return yScale(d.value);
                })
                .interpolate("linear");

            var lineGen = d3.svg.line()
                .x(function(d) {
                    return xScale(d.year);
                })
                .y(function(d) {
                    return yScale(d.sale);
                })
                .interpolate("linear");

            dataGroup.forEach(function(d,i) {
                console.log(d.values);
                console.log(d3.entries(data2));
                vis.append('svg:path')
                .attr('d', lineGenTwo(d3.entries(data2)))
                .attr('stroke', function(d,j) {
                        return "hsl(" + Math.random() * 360 + ",50%,50%)";
                })
                .attr('stroke-width', 2)
                .attr('id', 'line_'+d.key)
                .attr('fill', 'none');
                vis.append("text")
                    .attr("x", (lSpace/2)+i*lSpace)
                    .attr("y", HEIGHT)
                    .style("fill", "black")
                    .attr("class","legend")
                    .on('click',function(){
                        var active   = d.active ? false : true;
                        var opacity = active ? 0 : 1;
                        d3.select("#line_" + d.key).style("opacity", opacity);
                        d.active = active;
                    })
                    .text(d.key);
            });

          }

          InitChart();

          </script>
      </div>
  </div>
{% endif %}
</body>
{% endblock %}
