{% extends "layouts/base.html" %}

<h1>{{template_title}} </h1>

{% block content %}
<div class="container">
  <div class="jumbotron col-xs-12 col-md-6">
    <h1> Super Cool Fancy Name</h1>
    <h2>Potential D3 Graph ... or Search bar?</h2>
    <p> This could possibly hold the graph or the search bar.
    It really just depends on how we want to design it.</p>
    <p> This is a second paragraph just for funzies.</p>
  </div>
</div>
{% endblock %}


<!-- <form method = 'POST' action=''>{% csrf_token %}

{{ form.as_p}}
<input type='submit' value='Sign Up'/>
</form> -->
