{% extends "layouts/base.html" %}

{% block content %}
  <style>
  p {
    margin: 0em;
  }
  table td {
    border-top: none !important;
  }
  </style>
  {% if metaResults %}
    <div id="meta2">
      <div class = "container section">
        <div class = "card section">
          <form method="GET" name="resultsform">
            <div id="meta" class = "section center-align">
              <button type="submit" name="graphForm" formaction="/graph/" class="btn btn-success">Graph</button>
              <button type="submit" name="export" formaction="/export/" class="btn btn-success">Export</button>
            </div>

            {{search_formset.management_form}}

            <!--- Search Forms --->
            <div style="display:None">
              {% for search_form in search_formset.forms %}
                {{search_form.mineral_name}}
                {{search_form.mineral_class}}
                {{search_form.any_data}}
                {{search_form.min_included_range}}
                {{search_form.max_included_range}}
                {{search_form.type_of_sample}}
                {{search_form.database_of_origin}}
              {% endfor %}
            </div>

            <div class="container section">
              <input id="selectAllBox" type="checkbox" name="selection" onClick="toggle(this)"/>
              <label name="selectAllLabel" for="selectAllBox" > Select All</label>
            </div>

            <div class= "container section">
            <!---<table class="table table-hover"> -->
                {% for result in metaResults %}
                  <table class="table table-hover">
                  <tr>
                    <td>
                      <input type="checkbox" name="selection" id="option{{ result.data_id }}" value={{result.data_id}}/>
                      <label for="option{{result.data_id }}"></label>
                    </td>
                    <td> <p><b> Data ID:</b>            {{ result.data_id }} </p>
                    <p><b> Sample ID:</b>          {{ result.sample_id }} </p>
                    <p><b> Mineral name:</b>       {{ result.name }} </p>
                    <p><b> Mineral class:</b>      {{ result.sample_class }} </p>
                    <p><b> Mineral type:</b>       {{ result.sample_type }} </p>
                    <p><b>Formula:</b>            {{ result.formula }} </p>
                    <p><b> Description:</b>        {{ result.sample_desc }} </p>
                    <p><b> Database of origin:</b> {{ result.origin }} </p>
                    <p><b> Locality:</b>           {{ result.locality }} </p>
                    <p><b> Grain size:</b>         {{ result.grain_size }} </p>
                    <p><b> Viewing geometry:</b>   {{ result.view_geom }} </p>
                    <p><b> Resolution:</b>         {{ result.resolution }} </p>
                    <p><b> Reflectance range:</b>  {{ result.refl_range }} </p>
                    <p><b> Composition: </b>        {{ result.composition }} </p>
                    <p><b> References: </b>        {{ result.references }} </p>
                    <p><b> Other Information: </b>        {{ result.other }} </p>
                    </td>
                    <div class="divider"></div>

                  </tr>
                  </table>
                {% endfor %}
            <!--</table> -->
          </div>
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <div id="meta" class="container section">
      <div class="card-panel center-align" style="background:rgba(255,255,255,.8)">
        <p>Please select a sample to view the meta data.</p>
      </div>
    </div>
  {% endif %}


  <script language="JavaScript">
    function toggle(source){
      checkboxes = document.getElementsByName("selection");
      for(var i=0, n=checkboxes.length; i<n; i++){
        checkboxes[i].checked = source.checked;
      }
    }
  </script>
{% endblock %}
