<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="" style="background-size:cover">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
      <!-- Navbar -->
      <nav style:"background:rgba(0,0,0,0.7)">
        <div class="container white-text">
          <ul id="nav-mobile" class="left">
            <li class="left"><a href="/">Search</a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-small-and-down">
            <li><a href="/upload">Upload</a></li>
            <li><a href="badges.html">About</a></li>
            <li><a href="collapsible.html">Log In</a></li>
          </ul>
        </div>
      </nav>

        <!-- Add your site or application content here -->
        <div class="container section" id="content" >
          <form method="POST">
            {% csrf_token %}
            {{search_formset.management_form}}

            <!--- Search Forms --->
            <ul class="collapsible" data-collapsible="expandable" id="myList" >
              {% for search_form in search_formset %}
              <li class="search-form">
                <div class="collapsible-header active center" style="background-color:White;">
                  <span class="left head">Search {{forloop.counter}}</span>
                </div>
                <div class="collapsible-body" style="background:rgba(255,255,255,0.9); ">
                  <div class="mine" style="padding: 20px">
                    {{ search_form}}
                  </div>
                </div>
              </li>
              {% endfor %}

              <!--- Submit and Add Search Buttons --->
              <li>
                <div class="collapsible-header">
                  <div class="center-align" style="padding:20px">

                      <div class="btn waves-effect waves-light" id="addSearch" onclick="addInput('myList','addSearch');">
                          Add a Search +
                      </div>
                      <button type="submit" class="btn red waves-effect waves-light"/>
                        Search
                      </button>
                  </div>
                </div>
              </li>
            </ul>
          </form>

          <div class = "row">
            <div class = "col s12">
              <div class = "card">
                <div class = "card-content">
                  <a href="https://google.com">Need Help?</a>
                </div>
              </div>
            </div>
          </div>

        </div>


        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>

        <script type="text/html" id="search-template">
              <li id ="form-__prefix__" class="search-form">
                <div class="collapsible-header center active" style="background-color:White;">
                  <span class="left head">Search __count__</span>
                </div>
                <div class="collapsible-body" style="background:rgba(255,255,255,0.9); ">
                  <div class="mine" style="padding: 20px">
                    {{ search_formset.empty_form }}
                  </div>
                </div>
              </li>
        </script>

        <script>
          $(document).ready(function() {
            $('select').material_select();
            $(".button-collapse").sideNav();
          });

          var limit = 10;
          function addInput(divName, elementBelow) {
            var formCount = $('.search-form').length;

            console.log(formCount);
            if (formCount <= limit) {
              $(".collapsible-header").removeClass(function(){
                return "active";
              });
              $(".collapsible").collapsible({accordion: true});
              $(".collapsible").collapsible({accordion: false});
              $(".collapsible").collapsible({accordion: true});

              //Clone a form
              var searchTemplate = $('#search-template').html().replace(/__prefix__/g, formCount).replace(/__count__/g, formCount + 1);
              // Insert it into the row after the last
              $(searchTemplate).removeAttr('id').insertAfter(".search-form:last").slideDown(300);
              $(searchTemplate).find(".head").html("Search " + (formCount + 1));
              $('#id_form-TOTAL_FORMS').val(formCount + 1);

              $('select').material_select();
              $('.collapsible').collapsible();
            }
          }

        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
